<%= javascript_tag do %>
  var search_params = {"low":750,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic": "<%= params[:topic] %>","in_reply_to_status_id":""};
  var markup = "<div class='twitSec' id='${tweet_id}' data-count='${more_count}'>{{if typeof(rt_user_id) != 'undefined'  && rt_user_id != null}}<div class='tw_img' user_id='${rt_user_id}'><img src='${rt_profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${rt_screen_name}' target='_blank'>${rt_name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${rt_screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='retweeted'>Retweeted by<a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a></div>{{else}}<div class='tw_img'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{/if}}<div class='moreOptions'><ul><li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>1}}<span class='more'><a href='#' onclick='return expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{/if}}</div>";

  function convert(data_array){
    var new_obj = [];
    _.each(data_array, function(ele,index,list){
      if (ele > 2500){
        new_obj.push(Math.ceil(Math.log(2500))*5);
      }
      else if( ele <= 0){
        new_obj.push(0);
      }
      else if ( ele == 1){
        new_obj.push(1)
      }
      else {
        new_obj.push(Math.ceil(Math.log(ele))*5);
      }
    });
    console.log(new_obj)
    return new_obj;
  }

var autoRefresh = function (){
  $("#expandedlist").empty();
  console.log("refreshing now")
  search_params["since_ts"] = Math.round(new Date().getTime()/1000) - 5*60;
  callServer("#expandedlist",function(){
    console.log("done now")
    new_tweet_count = $("#expandedlist > .twitSec").length;
      if(new_tweet_count > 0){
        $('#verynewtweets').text(  new_tweet_count + ' tweets')
        $('#verynewtweets').show();
      }
    });
  
  search_params["since_ts"] = "";
}

  $( document ).ready(function() {
     
    setInterval(autoRefresh, 300000);

    $('#verynewtweets').on('click',function(){
      $('#verynewtweets').hide();
      $("#expandedlist > .twitSec").hide().prependTo('#tweetlist').fadeIn(1000);;
    });
 
      $( "#rangeSelectvalue" ).hide();
      //document.getElementById('blueColorScale').style.width = (30)+"%";
      //document.getElementById('blueColorScale').style.left = (0)+"%";
      document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        //document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        //document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);

        rMinMax = $( "#slider-range" ).slider("values");
        newData = [];
        for(var i=0; i<logData.length; i++) {
            if (i>rMinMax[0] && i<rMinMax[1]) 
                newData.push({ y: logData[i], color: "#0da9e2" });
            else 
                newData.push({ y: logData[i], color: "#d2d2d3" });
        }
        chart.series[0].update({
            data: newData
        });
        
        document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        search_params["low"] = values[1];
        search_params["high"] = values[0];
        search_params["q"] = "";
        search_params["screen_name"] = "";
        search_params["uniqueUser"] = true;
        $('#tweetlist').empty()
        callServer('#tweetlist');
      }
    });
    var logData = null;
    var newData = null;
    var chart = null;
    $.ajax({
        url:"http://191.236.193.84/tweet-store/index.php/api/TweetsUnique/slider_dist?country=in",
        type : "GET",
        success:function(result){
            console.log(result);
            grph = JSON.parse(result);
            $('#container').highcharts({
                chart: {
                    type: 'column',
                    spacingRight: 0,
                    height: 70
                },
                title:{
                    text:''
                },
                xAxis: {
                    labels: {
                      enabled: false
                    },
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    gridLineWidth: 0,
                    lineColor: 'transparent',
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: {
                    labels: {
                      enabled: false
                    },
                    title: {
                        text: null
                    },
                    gridLineWidth: 0
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                        groupPadding: 0.1,
                        pointPadding: 0.1,
                        pointWidth: 1,
                        borderWidth: 0
                    },
                    spline: {
                        lineWidth: 3,
                        marker: {
                            enabled: false,
                            states: {
                                 hover: {
                                      enabled: false
                                 }
                            }
                        },
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 1,
                            }
                        },
                        threshold: null
                    }
                },
                exporting: {
                     enabled: false
                },
                tooltip: {
                    enabled: false
                },
                series: [{
                    showInLegend: false, 
                    data: []
                }]
            });
            logData = convert(grph.data.counts)
            var rMinMax = $( "#slider-range" ).slider("values");
            newData = [];
            chart = $("#container").highcharts();
            for(var i=0; i<logData.length; i++) {
                if (i>rMinMax[0] && i<rMinMax[1]) 
                    newData.push({ y: logData[i], color: "#0da9e2" });
                else 
                    newData.push({ y: logData[i], color: "#d2d2d3" });
            }
            chart.series[0].update({
                data: newData
            });
          }
    });
    
});
<% end %>

<div class="mainDiv">
  <div class="top_container">
    <%= render 'shared/slider' %>
    <div id="trending" class="tweetTags"></div>  
  </div>  
  <%= render 'shared/header' %>
  <%= render 'shared/footer' %>
</div>
<div id="verynewtweets" class="refreshBtn" style="display:none;"></div>
<div id="expandedlist"></div>
    
   





