<script>
  $( document ).ready(function() {
    $('#selectOpt').val('mytweets');
    //$(".tweets-content").each(function(index){ $(this).text(urlify($(this).text())); }); 
    $(".timeCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
    doDragDrop();
  });
</script>
  <div class="mainDiv">
    <%= render 'shared/header' %>
    <div class="tweetMainDiv">
      <div id="trending" class="tweetTags"></div>
      <div id="tweetlist">
        <% @tweet_list.each do |tweet| %>
          <div class='twitSec'>
            <div user_id='${user_id}' class='tw_img draggable'>
              <img src='<%= tweet.user.profile_image_url%>'/>
            </div>
            <h1>
              <span>
                <img src='/images/t_birrd_small.png'/>
              </span>
              <a user_id='${user_id}' class='draggable' href='http://www.twitter.com/<%= tweet.user.screen_name %>' target='_blank'><%=  tweet.user.name %></a>
              <span class='timeCal flRt'><%= tweet.created_at %></span>
            </h1>
            <span>@<%= tweet.user.screen_name %></span>
            <div class='clr'></div>
            <p><%= tweet.text %></p>
        </div>
      <% end %>    
    </div>
    <div id="modal-container-more" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="blue">PageRank</span> for Twitter
        </h3>
      </div>
      <div class="modal-body">
        <p>
          Just like Google's PageRank simplified accessing web for masses, we thought of building UserRank for all those who love Twitter for what it offers but get overwhelmed by the sheer volume.
        </p>
        <p>So We built a completely new <span class="blue">UserRank</span> system that ranks accounts, arranges tweets according to the tweeter's rank & lets user navigate through them through a line - our <span class="blue">UserRank</span> Line.</p>
        <p>Welcome to the new world of tweets where you dont have to search again ! Enjoy the coolest Tweet Show on Earth.</p>
        <p>Write to us at <a href="mailto:amar@brizzlabs.com">amar@brizzlabs.com</a> & get to know of cool features  (more countries, more events) straight from us. Some feedback & love in the email will go a long way too.</p>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!--coming soon popup-->
      <div id="modal-container-coming" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">
            Coming Soon
          </h3>
        </div>
        <div class="modal-body">
          <p>
            Trained monkeys are on job. Please come back soon to check this feature out
          </p>
          <p>Currently only "all" filter is working.</p>
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <!--coming soon popup-->
  </div>




