<!DOCTYPE html>
<html>
<head>
  <title>BrizzTV</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" %> 
  <%= stylesheet_link_tag "/css/tSlider.css" %> 

  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %>
  <%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>
  <%= stylesheet_link_tag  "/css/style.css" %>
  <%= stylesheet_link_tag  "/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Open+Sans:600,700,300" %>
  <%= stylesheet_link_tag  "/css/slider.css" %>

  <%= javascript_include_tag "/js/pace.min.js" %>
  <%= javascript_include_tag "/js/bootstrap.min.js" %>
  <%= javascript_include_tag "/js/underscore-min.js" %>
  <%= javascript_include_tag "/js/highcharts.js" %>
  <%= javascript_include_tag "/js/jQAllRangeSliders.js" %>
  <%= javascript_include_tag "/js/jquery.livequery.js" %>

  <%= javascript_tag do %>
    var _prum = [['id', '5354dc15abe53d6f392b701e'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
 <% end %>
    
<script id="_webengage_script_tag" type="text/javascript">
  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '~71681192';
  _weq['webengage.widgetVersion'] = "4.0";
  
  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
</script>
 
</head>
<body>

<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=133174173371568";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>  
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
<%= yield %>

</body>
</html>
