<!DOCTYPE html>
<html>
<head>
  <title>BrizzTV</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" %> 

  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %>
  <%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>
  <%= stylesheet_link_tag  "/css/style.css" %>
  <%= stylesheet_link_tag  "/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Open+Sans:600,700,300" %>
  <%= stylesheet_link_tag  "/css/slider.css" %>
  <%= javascript_include_tag "/js/pace.min.js" %>
  <%= javascript_include_tag "/js/bootstrap.min.js" %>
  <%= javascript_include_tag "/js/underscore-min.js" %>

  <%= javascript_tag do %>
    var _prum = [['id', '5354dc15abe53d6f392b701e'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
  <% end %>
    
</head>
<body>

<%= yield %>

</body>
</html>
